.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    h1 {
      text-transform: uppercase;
      color: white;
      margin-left: 0.5rem;
    }
    img {
      height: 5rem;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #00000076;
  border-radius: 2rem;
  padding: 3rem 5rem;

  input {
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #4e0eff;
    color: white;
    cursor: text;
    border: 0.1rem solid #4e0eff;
    width: 100%;
    font-size: 1rem;
    border-radius: 0.4rem;
    &:focus {
      border: 0.1rem solid #997af0;
      outline: none;
    }
  }

  button {
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: #997af0;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0ms.5s ease-in-out;
    padding: 1rem 2rem;
    &:hover {
      background-color: #4e0eff;
    }
  }

  span {
    color: white;
  }
}
